<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signin form</h1>
    <form action="/signin" method="post">
        <label for="name">Name<input id="name" name="name" type="text" placeholder="Name"></label>
        <label for="email">Email<input id="email" name="email" type="text" placeholder="Email"></label>
        <label for="pass">Password<input id="pass" name="password" type="text" placeholder="Password"></label>
        <button>Signin</button>
    </form>
</body>
</html>